/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);*/



/*.item-1,*/
/*.item-2,*/
/*.item-3 {*/
/*    position: absolute;*/
/*    !*display: block;*!*/
/*    top: 2px;*/

/*    width: 60%;*/

/*    !*font-size: 2em;*!*/

/*    animation-duration: 20s;*/
/*    animation-timing-function: ease-out;*/
/*    animation-iteration-count: infinite;*/
/*}*/

/*.item-1{*/
/*    animation-name: anim-1;*/
/*}*/

/*.item-2{*/
/*    animation-name: anim-2;*/
/*}*/

/*.item-3{*/
/*    animation-name: anim-3;*/
/*}*/

/*@keyframes anim-1 {*/
/*    0%, 8.3% { left: -100%; opacity: 0; }*/
/*    8.3%,25% { left: 25%; opacity: 1; }*/
/*    33.33%, 100% { left: 110%; opacity: 0; }*/
/*}*/

/*@keyframes anim-2 {*/
/*    0%, 33.33% { left: -100%; opacity: 0; }*/
/*    41.63%, 58.29% { left: 25%; opacity: 1; }*/
/*    66.66%, 100% { left: 110%; opacity: 0; }*/
/*}*/

/*@keyframes anim-3 {*/
/*    0%, 66.66% { left: -100%; opacity: 0; }*/
/*    74.96%, 91.62% { left: 25%; opacity: 1; }*/
/*    100% { left: 110%; opacity: 0; }*/
/*}*/


/* OUTER CONTAINER */
.s-wrap {
    width: 100%;
    height: 100%; /* Optional */
    /*background: #ffd7d1;*/
    /*border: 1px solid #9c1e0b;*/
    overflow: hidden; /* Hide scrollbars */
}

/* MIDDLE WRAPPER */
.s-move {
    display: flex;
    position: relative;
    top: 0;
    right: 0;
}

/* SLIDES */
.slide {
    box-sizing: border-box;
    padding: 10px;
    /* Force all slides to layout horizontally */
    width: 100%;
    flex-shrink: 0;
}

/* SLIDE ANIMATION MAGIC */
@keyframes slideh {
    /* Will use keyframes to shift the 5 slides *
    0% { right: 0; }
    20% { right: 100%; }
    40% { right: 200%; }
    60% { right: 300%; }
    80% { right: 400%; }
    100% { right: 0; }*/
    /* BUT the above will be non-stop */
    /* We want short pauses between each slide, so... */
    0% { right: 0; }
    15% { right: 0; }
    20% { right: 100%; }
    35% { right: 100%; }
    40% { right: 200%; }
    55% { right: 200%; }
    60% { right: 300%; }
    75% { right: 300%; }
    80% { right: 400%; }
    95% { right: 400%; }
    100% { right: 0; }
}
.s-move { animation: slideh linear 25s infinite; }
.s-move:hover { animation-play-state: paused; }

/*animatiom*/

.threeD {
    color: darkgrey;
    white-space: nowrap;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    transition: 0.3s;
    text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey,
    1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey,
    5px 13px 15px black;
}

.threeD:hover {
    transition: 0.3s;
    transform: scale(1.1)translate(-50%, -50%);
    text-shadow: 1px -1px 0 grey, 1px -2px 0 grey, 1px -3px 0 grey,
    1px -4px 0 grey, 1px -5px 0 grey, 1px -6px 0 grey, 1px -7px 0 grey,
    1px -8px 0 grey, 5px -13px 15px black, 5px -13px 25px #808080;
}

.threeD2 {
    color: darkgrey;
    white-space:  nowrap;
    position: relative;
    /*top: 50%;*/
    left: 50%;
    transform: translate(-50%, -50%);
    /*font-size: 3em;*/
    font-family: sans-serif;
    letter-spacing: 0.1em;
    transition: 0.3s;
    text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey,
    1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey,
    5px 13px 15px black;
}

.threeD2:hover {
    transition: 0.3s;
    transform: scale(1.1)translate(-50%, -50%);
    text-shadow: 1px -1px 0 grey, 1px -2px 0 grey, 1px -3px 0 grey,
    1px -4px 0 grey, 1px -5px 0 grey, 1px -6px 0 grey, 1px -7px 0 grey,
    1px -8px 0 grey, 5px -13px 15px black, 5px -13px 25px #808080;
}